<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container mt-4">
    <div th:if="${errorQuery}" class="text-center shadow row">
        <span th:utext="#{offers.errorQuery}">There was an error resolving your request</span>
    </div>

    <div th:if="${errorMaxOffer}" class="text-center shadow row">
        <span th:utext="#{offers.errorMaxOffer}">Offer is lower than actual max offer</span>
    </div>

    <div th:if="${errorLowPrice}" class="text-center shadow row">
        <span th:utext="#{offers.errorLowPrice}">Offer is lower than sum of articles' value</span>
    </div>

    <div th:if="${!errorQuery}">
        <h2 th:utext="#{offers.auctionNum(${openAuction.base.id})}" class="row">Auction #1</h2>
        <h4 th:utext="#{offers.maxPrice}+ ' ' + ${openAuction.base.maxOffer} + '€ '
            + #{offers.offerDifference} + ' ' +${openAuction.base.minimumOfferDifference} + '€'">
                Max price: 12€ Min offer difference: 1€</h4>
        <div class="row">
            <div class="col">
                <div class="card mb-3" th:each="article : ${openAuction.base.articles}">
                    <div class="row g-0">
                        <div class="col-4">
                            <img class="img-fluid rounded-start"
                                 th:src="@{'data:image/jpeg;base64,' + ${ article.immagine}}"
                                 src="https://placehold.co/600x400"/>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title" th:utext="${article.name}">Table</h5>
                                <p class="card-text" th:utext="${article.description}">A large table</p>
                                <p class="card-text">
                                    <small class="text-muted"
                                           th:utext="#{offers.articleCode(${article.codArticle})}">
                                        Code: 1
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row"
                     th:with="days=${openAuction.base.getRemainingDays(session.loginTime)},
                              hours=${openAuction.base.getRemainingHours(session.loginTime)}"
                     th:utext="#{offers.remainigTime(${days}, ${hours})}">Expires in 0d, 1h
                </div>

                <div class="row">
                    <table class="table table-striped table-hover center">
                        <thead>
                        <tr>
                            <td th:utext="#{offers.offerDateTitle}">Date</td>
                            <td th:utext="#{offers.offerNameTitle}">Offerer</td>
                            <td th:utext="#{offers.offerPriceTitle}">Price</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offer : ${openAuction.offers}">
                            <td th:with="df=#{date.format}" th:utext="${#temporals.format(offer.date,df)}">Tomorrow</td>
                            <td th:utext="${offer.name}">Spangaro</td>
                            <td th:utext="${offer.price}">10€</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <form th:action="@{/insertOffer}" th:method="post" class="row">
                    <input type="hidden" th:id="id" name="id" th:value="${openAuction.base.id}">
                    <div class="input-group g-0">
                        <span class="input-group-text">€</span>
                        <input type="number" step="0.01" id="offerValue" name="offerValue" class="form-control" th:value="${offerPlaceholder}">
                        <button type="submit" class="btn btn-primary" th:text="#{offers.confirm}">
                            Place offer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--All of bootstrap's scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>