<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <span th:if="${errorQuery}" th:utext="#{auctionDetails.errorQuery}"></span>
</div>
<div th:if="${!errorQuery}">
    <h2 th:utext="#{auctionDetails.auctionNum(${auction.base.id})}"></h2>
    <div th:each="article : ${auction.base.articles}"
         th:utext="${article.codArticle} + ' ' +  ${article.name}"
         th:value="${article.codArticle}"></div>
    <div th:if="${auction.isOpen}"
         th:with="days=${auction.base.getRemainingDays(session.loginTime)},
                  hours=${auction.base.getRemainingHours(session.loginTime)}"
         th:utext="#{auctionDetails.remainigTime(${days}, ${hours})}"></div>
</div>

<!-- TODO: add offers table -->
<div th:if="${auction.isOpen}">
    <table>

    </table>
</div>

<!-- TODO: add buyer's  data -->
<div th:if="${auction.isClosed()}">
    <table>

    </table>
</div>


<div th:if="${auction.isOpen && auction.base.isExpired(session.loginTime)}">
    <form th:action="@{/closeAuction}" method="post">
        <input type="hidden" th:value="${auction.base.id}" th:name="id"/>
        <button type="submit" class="btn btn-primary btn-block" th:text="#{auctionDetails.closeAuction}"></button>
    </form>
</div>

</body>
</html>