<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container mt-4">
    <div>
        <form th:action="@{/buy}" th:method="get" class="text-center input-group">
            <input class="form-control" type="text" th:name="search" th:value="${searchTerm}">
            <button type="submit" class="btn btn-outline-primary" th:text="#{buy.confirmSearch}">Buy</button>
        </form>
    </div>

    <div class="text-center">
        <span th:if="${errorQuery}" th:utext="#{buy.errorQuery}"></span>
    </div>
    <div th:if="${!errorQuery}" class="text-center">
        <table class="table table-striped table-hover table-bordered center">
            <thead>
            <tr>
                <td th:utext="#{buy.auctionNumTitle}">#</td>
                <td th:utext="#{buy.actionMaxOfferTitle}">Max offer</td>
                <td th:utext="#{buy.auctionRemainingTimeTitle}">Remaining time</td>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="auction : ${auctions}">
                <tr>
                    <td><a th:href="@{'/offers?id=' + ${auction.id}}" th:utext="${auction.id}" href="#">1</a></td>
                    <td th:utext="${auction.maxOffer} + '€'">120€</td>
                    <td th:with="days=${auction.getRemainingDays(session.loginTime)},
                         hours=${auction.getRemainingHours(session.loginTime)}"
                        th:utext="#{buy.remainingTime(${days}, ${hours})}">0d, 1h
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table class="table center">
                            <thead>
                            <tr>
                                <td th:utext="#{buy.articleNumTitle}">Code</td>
                                <td th:utext="#{buy.auctionNameTitle}">Article</td>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="article : ${auction.articles}">
                                <tr>
                                    <td th:utext="${article.codArticle}">1</td>
                                    <td th:utext="${article.name}">Motosega</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<br><br><br>
<div class="container mt-4">
    <table class="table table-striped table-hover table-bordered center">
        <thead>
        <tr>
            <td th:utext="#{buy.auctionNumTitle}">#</td>
            <td th:utext="#{buy.actionMaxOfferTitle}">Max offer</td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="auction : ${boughtAuctions}">
            <tr>
                <td><a th:href="@{'/auctionDetails?id=' + ${auction.id}}" th:utext="${auction.id}"
                       href="#">1</a></td>
                <td th:utext="${auction.maxOffer} + '€'">60€</td>
            </tr>
            <tr>
                <td colspan="3">
                    <table class="table center">
                        <thead>
                        <tr>
                            <td th:utext="#{buy.articleNumTitle}">Code</td>
                            <td th:utext="#{buy.auctionNameTitle}">Article</td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="article : ${auction.articles}">
                            <tr>
                                <td th:utext="${article.codArticle}">1</td>
                                <td th:utext="${article.name}">Motosega</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>


<!--All of bootstrap's scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>