<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<p th:utext="#{home.welcome(${session.user})}"></p>

<div>
    <p th:with="df=#{date.format}" th:text="#{home.date(${#calendars.format(today,df)})}"></p>
</div>
<p th:utext="#{home.menu}"></p>
<ol>
    <li><a href="buy.html" th:href="@{/buy}" th:utext="#{home.buy}"></a></li>
    <li><a href="sell.html" th:href="@{/sell}" th:utext="#{home.sell}"></a></li>
</ol>


<div>&copy; 2011 The Static Templates scammato</div>

</body>

</html>