<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        ul {
            text-align: center;
            list-style-position: inside;
        }
    </style>
    <title>Casa d'aste "La Mafia"</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<p th:utext="#{home.welcome(${session.user})}" class="text-center"></p>

<div class="text-center">
    <p th:with="df=#{date.format}" th:text="#{home.date(${#calendars.format(today,df)})}"></p>
</div>
<p th:utext="#{home.menu}" class="text-center"></p>
<div>
    <ul>
        <li><a href="buy" th:href="@{/buy}" th:utext="#{home.buy}"></a></li>
        <li><a href="sell" th:href="@{/sell}" th:utext="#{home.sell}"></a></li>
        <li><a href="login" th:href="@{/logout}" th:utext="#{home.logout}"></a></li>
    </ul>
</div>

<!--All of bootstrap's scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>