<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <span th:if="${errorQuery}" th:utext="#{offers.errorQuery}"></span>
</div>

<div th:if="${!errorQuery}">
    <h2 th:utext="#{offers.auctionNum(${openAuction.base.id})}"></h2>
    <div th:each="article : ${openAuction.base.articles}"
         th:utext="${article.codArticle} + ' ' +  ${article.name}"
         th:value="${article.codArticle}"></div>

    <!-- TODO: it prints the offers multiplied by the # of auctions in the DB
                EG:
                    7 auctions: 1 has 3 offers, 2 has 1 offer, the others have none
                        by clicking on 1, 21 offers will appear (the three, but 7 times over)
                        by clicking on 2, 7 offers will appear (the only one for auction 2, but 7 times over)
                        by clicking on 3...7, no offers appear -->
    <div th:each="offer : ${openAuction.offers}"
         th:utext="${offer.date} + ' ' +  ${offer.name}+ ' ' + ${offer.price}"
         th:value="${offer.offerId}"></div>
    <div th:with="days=${openAuction.base.getRemainingDays(session.loginTime)},
                  hours=${openAuction.base.getRemainingHours(session.loginTime)}"
         th:utext="#{offers.remainigTime(${days}, ${hours})}"></div>
</div>


<div>
    <form th:action="@{/insertOffer}" th:method="post">
        <input type="hidden" th:id="id" name="id" th:value="${openAuction.base.id}">
        <input type="number" step="0.01" th:id="${offerValue}" name="offerValue">
        <button type="submit" class="btn btn-primary btn-block" th:text="#{offers.confirm}"></button>
    </form>
</div>

</body>
</html>