<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <span th:if="${errorClosedQuery}" th:utext="#{sell.errorQuery}"></span>
</div>
<div th:if="${!errorClosedQuery}">
    <table>
        <tr th:each="auction : ${closedAuction}">
            <td><a th:href="@{'/auctionDetails?id=' + ${auction.id}}" th:utext="${auction.id}"></a></td>
            <td th:each="article : ${auction.articles}"
                th:utext="${article.codArticle} + ' ' +  ${article.name}"
                th:value="${article.codArticle}"></td>
            <td th:utext="${auction.maxOffer} + '€'"></td>
            <!-- <td th:utext="#{sell.remainigTime(${auction.getRemainingDays(${session.loginTime})}, ${auction.getRemainingHours(${session.loginTime})})}"></td>-->
        </tr>
    </table>
</div>

<div>
    <span th:if="${errorOpenQuery}" th:utext="#{sell.errorQuery}"></span>
</div>
<div th:if="${!errorOpenQuery}">
    <table>
        <tr th:each="auction : ${openAuction}">
            <td><a th:href="@{'/auctionDetails?id=' + ${auction.id}}" th:utext="${auction.id}"></a></td>
            <td th:each="article : ${auction.articles}"
                th:utext="${article.codArticle} + ' ' +  ${article.name}"
                th:value="${article.codArticle}"></td>
            <td th:utext="${auction.maxOffer} + '€'"></td>
            <td th:with="days=${auction.getRemainingDays(session.loginTime)},
                         hours=${auction.getRemainingHours(session.loginTime)}"
                th:utext="#{sell.remainigTime(${days}, ${hours})}"></td>
        </tr>
    </table>
</div>

<form th:action="@{/articleInsertion}" th:method="post">
    <div>
        <span th:if="${goodInsertion}" th:utext="#{sell.goodInsertion}"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-block" th:text="#{sell.insertArticle}"></button>
    </div>
    <br>
</form>

<form th:action="@{/auctionInsertion}" th:method="post">
    <div>
        <span th:if="${goodAuctionInsertion}" th:utext="#{sell.goodAuctionInsertion}"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-block" th:text="#{sell.insertAuction}"></button>
    </div>
</form>
</body>
</html>