<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div>
    <span th:if="${errorClosedQuery}" th:utext="#{sell.errorQuery}"></span>
</div>
<div th:if="${!errorClosedQuery}" class="text-center">
    <div class="text-center">
        <span th:utext="#{sell.closed}"></span>
    </div>
    <table class="table center">
        <tr th:each="auction : ${closedAuction}">
            <td><a th:href="@{'/auctionDetails?id=' + ${auction.id}}" th:utext="${auction.id}"></a></td>
            <td th:each="article : ${auction.articles}"
                th:utext="${article.codArticle} + ' ' +  ${article.name}"
                th:value="${article.codArticle}"></td>
            <td th:utext="${auction.maxOffer} + '€'"></td>
            <td th:with="days=${auction.getRemainingDays(session.loginTime)},
                         hours=${auction.getRemainingHours(session.loginTime)}"
                th:utext="#{sell.remainingTime(${days}, ${hours})}"></td>
        </tr>
    </table>
</div>
<br>
<div>
    <span th:if="${errorOpenQuery}" th:utext="#{sell.errorQuery}"></span>
</div>
<div th:if="${!errorOpenQuery}" class="text-center">
    <div class="text-center">
        <span th:utext="#{sell.open}"></span>
    </div>
    <table class="table center">
        <tr th:each="auction : ${openAuction}">
            <td><a th:href="@{'/auctionDetails?id=' + ${auction.id}}" th:utext="${auction.id}"></a></td>
            <td th:each="article : ${auction.articles}"
                th:utext="${article.codArticle} + ' ' +  ${article.name}"
                th:value="${article.codArticle}"></td>
            <td th:utext="${auction.maxOffer} + '€'"></td>
            <td th:with="days=${auction.getRemainingDays(session.loginTime)},
                         hours=${auction.getRemainingHours(session.loginTime)}"
                th:utext="#{sell.remainingTime(${days}, ${hours})}"></td>
        </tr>
    </table>
</div>

<form th:action="@{/articleInsertion}" th:method="post">
    <div class="text-center">
        <span th:if="${goodInsertion}" th:utext="#{sell.goodInsertion}"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary" th:text="#{sell.insertArticle}"></button>
    </div>
    <br>
</form>

<form th:action="@{/auctionInsertion}" th:method="post">
    <div class="text-center">
        <span th:if="${goodAuctionInsertion}" th:utext="#{sell.goodAuctionInsertion}"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary" th:text="#{sell.insertAuction}"></button>
    </div>
</form>

<!--All of bootstrap's scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>