<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Casa d'aste "La Mafia"</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form th:action="@{/userLogin}" th:method="post">
    <div class="container mt-4">
        <div class="text-center">
            <span th:if="${loginArgs.queryError}" th:utext="#{login.queryError}">Couldn't resolve your request</span>
        </div>
        <div class="text-center">
            <span th:if="${loginArgs.errorCred}" th:utext="#{login.errorCred}">Null username or password</span>
        </div>
        <div class="text-center">
            <span th:if="${loginArgs.errorNotFound}" th:utext="#{login.errorNotFound}">No matches!</span>
        </div>
        <div class="text-center">
            <p th:utext="#{login.user}">Insert your username:</p>
            <label>
                <input type="text" class="form-control" th:placeholder="#{login.userPlace}" id="user" name="user"
                       th:value="${loginArgs.username}"><br>
            </label>
        </div>
        <br>
        <div class="text-center">
            <p th:utext="#{login.password}">Insert your password:</p>
            <label>
                <input type="password" class="form-control" th:placeholder="#{login.passPlace}" id="pass"
                       name="pass"><br>
            </label>
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary" th:text="#{login.submit}">Submit</button>
        </div>
    </div>
</form>

<!--All of bootstrap's scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>