<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <style>
        ul {
            text-align: center;
            list-style-position: inside;
        }
    </style>
    <title>Casa d'aste "La Mafia"</title>


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<p class="text-center">Scegli cosa caricare:</p>
<div id="pages-menu">
    <div id="page-link-template" hidden>
        <a class="link-anchor" href="#"></a>
        <br>
    </div>
</div>

<!-- Home page template -->
<div class="container mt-4" id="home-page" hidden>
    <p class="text-center">Ciao iuser</p>
</div>

<!-- Buy page template -->
<div class="container mt-4" id="buy-page" hidden>
    <div>
        <form id="search-form" class="text-center input-group">
            <input class="form-control" type="text" name="search" id="search-keyword">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
    </div>

    <div class="text-center" id="errorSearchQuery" hidden>
        <span>There was an error resolving your request</span>
    </div>
    <div class="text-center">
        <table class="table table-striped table-hover table-bordered center">
            <thead>
            <tr>
                <td>#</td>
                <td>Max offer</td>
                <td>Remaining time</td>
            </tr>
            </thead>
            <tbody id="found-auctions-container">
            </tbody>
        </table>

        <table hidden>
            <tbody id="found-auction-template">
            <tr>
                <td><a class="auction-id" href="#">1</a></td>
                <td class="auction-maxOffer">120€</td>
                <td class="auction-remaining-time">0d, 1h
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <table class="table center">
                        <thead>
                        <tr>
                            <td>Code</td>
                            <td>Article</td>
                        </tr>
                        </thead>
                        <tbody class="article-table">
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

        <table hidden>
            <tbody id="article-template">
            <tr>
                <td class="article-code">1</td>
                <td class="article-name">Motosega</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br><br><br>
    <h3>Won Auctions</h3>
    <table class="table table-striped table-hover table-bordered center">
        <thead>
        <tr>
            <td>#</td>
            <td>Final price</td>
        </tr>
        </thead>
        <tbody class="won-auction-t">

        </tbody>
    </table>

    <table hidden>
        <tbody id="won-auction-template">
        <tr>
            <td class="won-auction-id">1</td>
            <td class="won-auction-price">60€</td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="table center">
                    <thead>
                    <tr>
                        <td>Code</td>
                        <td>Article</td>
                    </tr>
                    </thead>
                    <tbody class="won-article-table">
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <table hidden>
        <tbody id="won-auction-article-template">
        <tr>
            <td class="won-article-id">1</td>
            <td class="won-article-name">Motosega</td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Sell page template -->
<div class="container mt-4" id="sell-page" hidden>

    <div class="row mb-3">
        <div class="col shadow">
            <div class="text-center" id="correctArticleInsertion" hidden>
                <span>Article inserted correctly!</span>
            </div>

            <form enctype='multipart/form-data' id="article-insertion-form">
                <div class="row text-center" id="errorArticleInsertion" hidden>
                    <span>Missing or wrong data format inserted</span>
                </div>
                <div class="row text-center" id="errorArticleQuery" hidden>
                    <span>There was an error in the execution of your request</span>
                </div>
                <div class="row mt-1">
                    <label for="articleName" class="col col-form-label">Insert article's name</label>
                    <div class="col-8">
                        <input type="text" id="articleName" name="articleName" class="form-control">
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="articleDesc" class="col col-form-label">Insert article's description</label>
                    <div class="col-8">
                        <textarea id="articleDesc" name="articleDesc" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="articleImage" class="col col-form-label">Insert the article's image</label>
                    <div class="col-8">
                        <input type="file" id="articleImage" name="articleImage" class="form-control">
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="articlePrice" class="col col-form-label">Insert the article's price</label>
                    <div class="col-8">
                        <div class="input-group">
                            <span class="input-group-text">€</span>
                            <input type="number" step="0.01" id="articlePrice" name="articlePrice" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="col shadow">
            <div class="text-center" id="correctAuctionInsertion" hidden>
                <span>Auction inserted correctly!</span>
            </div>

            <form id="auction-insertion-form">
                <div class="text-center" id="auctionDataError" hidden>
                    <span>Missing or wrong data format inserted</span>
                </div>
                <div class="text-center" id="errorAuctionQuery" hidden>
                    <span>There was an error in the execution of your request</span>
                </div>

                <div class="row mt-1">
                    <label for="selectedArticles" class="col col-form-label">Select one or more (hold ctrl for
                        multiple)</label>
                    <div class="col-8" id="noArticles">
                        <p id="articles-not-found">No articles found!</p>
                        <p id="articles-error-query" hidden>There was an error retrieving articles!</p>
                        <select id="selectedArticles" name="selectedArticles" class="form-select" multiple size="4">
                        </select>
                    </div>
                </div>

                <div class="row mt-1">
                    <label for="minimumOfferDifference"
                           class="col col-form-label">Insert minimum price rise</label>
                    <div class="col-8">
                        <input type="number" step="1" id="minimumOfferDifference" name="minimumOfferDifference"
                               class="form-control">
                    </div>
                </div>

                <div class="row mt-1">
                    <label for="auctionExpiration" class="col col-form-label">Insert
                        expiry
                        date</label>
                    <div class="col-8">
                        <input type="datetime-local" id="auctionExpiration" name="expiryDate" class="form-control">
                    </div>
                </div>

                <div class="row mt-1">
                    <button type="submit" class="btn btn-outline-primary">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row text-center">
        <span class="col">Closed auctions:</span>
        <span class="col">Open auctions:</span>
    </div>

    <div class="row text-center">
        <span class="col" id="sellClosedErrorQuery" hidden>There was an error resolving your request</span>
        <span class="col" id="sellOpenErrorQuery" hidden>There was an error resolving your request</span>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-bordered center">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Max offer</td>
                </tr>
                </thead>
                <tbody id="closed-auction-table">
                </tbody>
            </table>

            <table hidden>
                <tbody id="closed-auction-template">
                <tr>
                    <td><a href="#" class="closed-auction-id">1</a></td>
                    <td class="closed-auction-final-price">60€</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table center">
                            <thead>
                            <tr>
                                <td>Code</td>
                                <td>Article</td>
                            </tr>
                            </thead>
                            <tbody class="closed-article-table">
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table hidden>
                <tbody id="closed-article-template">
                <tr>
                    <td class="closed-article-id">1</td>
                    <td class="closed-article-name">Motosega</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped table-hover table-bordered center">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Max offer</td>
                    <td>Remaining time</td>
                </tr>
                </thead>
                <tbody id="open-auctions-table">
                </tbody>
            </table>

            <table hidden>
                <tbody id="open-auction-template">
                <tr>
                    <td><a href="#" class="open-auction-id">1</a></td>
                    <td class="open-auction-max-offer">50€</td>
                    <td class="open-auction-remaining-time">1d, 2h</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table center">
                            <thead>
                            <tr>
                                <td>Code</td>
                                <td>Article</td>
                            </tr>
                            </thead>
                            <tbody class="open-articles-table">
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table hidden>
                <tbody id="open-article-template">
                <tr>
                    <td class="open-article-id">1</td>
                    <td class="open-article-name">Motosega</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Auction details page template -->
<div class="container mt-4" id="auction-details-page" hidden>
    <div class="row text-center" id="auction-details-error-query" hidden>
        <span>There was an error resolving your request</span>
    </div>
    <div id="auction-details-content" hidden>
        <h2>Auction #<span id="auction-details-id">1</span></h2>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0" id="articles-details-container">
                    </div>

                    <div id="articles-details-template" hidden>
                        <div class="col-4">
                            <img class="article-details-image img-fluid rounded-start"/>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title article-details-name">Table</h5>
                                <p class="card-text article-details-description">A large table</p>
                                <p class="card-text">
                                    <small class="text-muted">Code: <span class="article-details-code">1</span></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!-- isOpen && !isExpired -->
                <div id="auction-details-expiry-div" class="row">
                    Expires in <span id="open-auction-expiry-days">0</span>d, <span id="open-auction-expiry-hours">1</span>h
                </div>

                <!-- isOpen && isExpired -->
                <form class="row" id="close-button-form">
                    <input type="hidden" id="auction-to-close-id" name="id"/>
                    <button type="submit" class="btn btn-danger" id="auction-details-close-button" hidden>
                        Close
                    </button>
                </form>

                <!-- isOpen -->
                <div id="open-auction-details" class="row">
                    <table class="table table-striped table-hover center" id="auction-details-offers-table" hidden>
                        <thead>
                        <tr>
                            <td>Date</td>
                            <td>Offerer</td>
                            <td>Price</td>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <table hidden>
                        <tbody id="auction-details-offers-template">
                        <tr>
                            <td class="details-offer-date">Tomorrow</td>
                            <td class="details-offer-name">Spangaro</td>
                            <td class="details-offer-price">10€</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- !isClosed -->
                <div id="closed-auction-details" hidden>
                    <div class="row">Final price: <span id="closed-auction-final-price">100€</span></div>
                    <div class="row">Buyer: <span id="closed-auction-buyer">Spangaro</span></div>
                    <div class="row">Address: <span id="closed-auction-buyer-address">Inverigo (CO)</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offers page template -->
<div class="container mt-4" id="offers-page" hidden>
    <div th:if="${errorQuery}" class="text-center shadow row">
        <span th:utext="#{offers.errorQuery}">There was an error resolving your request</span>
    </div>

    <div th:if="${errorMaxOffer}" class="text-center shadow row">
        <span th:utext="#{offers.errorMaxOffer}">Offer is lower than actual max offer</span>
    </div>

    <div th:if="${errorLowPrice}" class="text-center shadow row">
        <span th:utext="#{offers.errorLowPrice}">Offer is lower than sum of articles' value</span>
    </div>

    <div th:if="${!errorQuery}">
        <h2 th:utext="#{offers.auctionNum(${openAuction.base.id})}" class="row">Auction #1</h2>
        <h4 th:utext="#{offers.maxPrice}+ ' ' + ${openAuction.base.maxOffer} + '€ '
            + #{offers.offerDifference} + ' ' +${openAuction.base.minimumOfferDifference} + '€'">
            Max price: 12€ Min offer difference: 1€</h4>
        <div class="row">
            <div class="col">
                <div class="card mb-3" th:each="article : ${openAuction.base.articles}">
                    <div class="row g-0">
                        <div class="col-4">
                            <img class="img-fluid rounded-start"
                                 th:src="@{'data:image/jpeg;base64,' + ${ article.immagine}}"
                                 src="https://placehold.co/600x400"/>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title" th:utext="${article.name}">Table</h5>
                                <p class="card-text" th:utext="${article.description}">A large table</p>
                                <p class="card-text">
                                    <small class="text-muted"
                                           th:utext="#{offers.articleCode(${article.codArticle})}">
                                        Code: 1
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row"
                     th:with="days=${openAuction.base.getRemainingDays(session.loginTime)},
                              hours=${openAuction.base.getRemainingHours(session.loginTime)}"
                     th:utext="#{offers.remainigTime(${days}, ${hours})}">Expires in 0d, 1h
                </div>

                <div class="row">
                    <table class="table table-striped table-hover center">
                        <thead>
                        <tr>
                            <td th:utext="#{offers.offerDateTitle}">Date</td>
                            <td th:utext="#{offers.offerNameTitle}">Offerer</td>
                            <td th:utext="#{offers.offerPriceTitle}">Price</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offer : ${openAuction.offers}">
                            <td th:with="df=#{date.format}" th:utext="${#temporals.format(offer.date,df)}">Tomorrow</td>
                            <td th:utext="${offer.name}">Spangaro</td>
                            <td th:utext="${offer.price}">10€</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <form th:action="@{/insertOffer}" th:method="post" class="row">
                    <input type="hidden" th:id="id" name="id" th:value="${openAuction.base.id}">
                    <div class="input-group g-0">
                        <span class="input-group-text">€</span>
                        <input type="number" step="0.01" id="offerValue" name="offerValue" class="form-control"
                               th:value="${offerPlaceholder}">
                        <button type="submit" class="btn btn-primary" th:text="#{offers.confirm}">
                            Place offer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--All of bootstrap's scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="home.js"></script>

</body>

</html>
