<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Casa d'Aste</display-name>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/AsteDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <param-name>developmentMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>it.polimi.webapp.pages.LoginPage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>it.polimi.webapp.controllers.LoginController</servlet-class>
    </servlet>


    <filter>
        <filter-name>LoggedFilter</filter-name>
        <filter-class>it.polimi.webapp.filters.LoggedFilter</filter-class>
    </filter>

    <filter>
        <filter-name>NotLoggedFilter</filter-name>
        <filter-class>it.polimi.webapp.filters.NotLoggedFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>it.polimi.webapp.pages.HomePage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BuyPage</servlet-name>
        <servlet-class>it.polimi.webapp.pages.BuyPage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SellPage</servlet-name>
        <servlet-class>it.polimi.webapp.pages.SellPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>LoggedFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/userLogin</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>NotLoggedFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/buy</url-pattern>
        <url-pattern>/sell</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BuyPage</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SellPage</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
</web-app>